
A:link {TEXT-DECORATION: none;}
A:visited {TEXT-DECORATION: none;}
ul,li{list-style:none;}
i,em{font-style:normal;}
input[type='submit'],input[type='button'],input[type='number']{-webkit-appearance : none ;}
pre{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
}

body,html{
    width: 100%;
    height: 100%;
    background:#fff;
}
.main{
    width: 100%;
    height: 100%;
}
.body-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
nav{
    width: 100%;
    background-color: rgb(220,220,220);
    position: fixed;
    z-index: 9;
}
nav ul{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    font-size: 0;
    padding: 10px 0 10px 50px;
    box-sizing: border-box;
}
nav ul li{
    width: auto;
    height: 100%;
    margin-right: 63px;
    float: left;
}
nav ul li a{
    display: block;
    width: 100%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    margin-top: 12.5px;
}
.logo{
    height: 60px;
    display: flex;
    margin-top: -12.5px;
}
.logo .sline{
    width: 3px;
    height: 30px;
    background-color: #000;
    margin-right: 2px;
    margin-top: 10px;
}
.logo .lline{
    width: 3px;
    height: 40px;
    background-color: #000;
    margin-right: 2px;
}
.logo .m-t{
    margin-top: 10px;
}
.content{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.flex{
    width: 100%;
    height: 100%;
    display: flex;
}
.content .z1{
    margin-top: 70px;
    height: 100%;
    width: 100%;
}
.content .z2{
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 2;
}
.content .z3{
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 3;
}
.content h1{
    font-size: 95px;
    line-height: 180px;
    font-weight: bold;
}
.content h2{
    font-size: 60px;
    line-height: 100px;
    font-weight: bold;
}
.content p{
    font-size: 14px;
    line-height: 30px;
    word-break: break-all;
}
.content .m-t{
    margin-top: 20px;
}
.content .m-l{
    margin-left: 60px;
}
.content .text-box{
    margin-left: 60px;
}
.text2-w{
    width: 550px;
    margin-right: 50px;
}
.text3-w{
    width: 1080px;
}
.first-img{
    width: 500px;
    height: auto;
    margin-left: 700px;
}
.img-box{
    position: relative;
}
.img-box .img-curtain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.4);
}
.second-img{
    margin-top: 150px;
    width: 800px;
    height: auto;
}
.second-img2{
    width: 800px;
    height: auto;
    margin-top: 30px;
    margin-left: 650px;
}
.third-img{
    margin-top: 100px;
    margin-left: -75px;
    width: 1300px;
    height: auto;
}
.third-img2{
    width: 1300px;
    height: auto;
    top: 180px ;
    left: 25px ;
}
.third-img2 img{
    width: 1300px;
    height: auto;
}
.fourth-img1{
    width: 560px;
    height: auto;
    margin-top: -110px;
    margin-left: 100px;
}
.fourth-img2{
    width: 560px;
    height: auto;
    margin-top: 220px;
    margin-left: 670px;
}
.fifth-img1{
    margin-top: 150px;
    margin-left: -480px;
    width: 800px;
    height: 520px;
}
.fifth-img2{
    margin-top: 500px;
    width: 1000px;
    height: auto;
}
.six-img{
    margin-top: 100px;
    margin-left: 70px;
    width: 490px;
    height: auto;
}

.content a{
    display: block;
    width: 1200px;
    font-size: 15px;
    line-height: 25px;
}
.content a:first-child{
    margin-top: 50px
}
.seven-img{
    margin-top: 100px;
    width: 1200px;
    height: auto;
}

.bg-color0{
    background-color: #ebebeb;
}
.bg-color1{
    background-color: #edf6fb;
}
.bg-color2{
    background-color: #faebeb;
}
.bg-color3{
    background-color: #eeefe7;
}
.bg-color4{
    background-color: #fee7e1;
}
.bg-color5{
    background-color: #dcdde2;
}
.bg-color6{
    background-color: #fdeadd;
}
.active1{
    color: #6d9bd9;
    border: 1px solid #6d9bd9;
}
.active2{
    color: #be059d;
    border: 1px solid #be059d;
}
.active3{
    color: #717532;
    border: 1px solid #717532;
}
.active4{
    color: #f33002;
    border: 1px solid #f33002;
}
.active5{
    color: #898a8f;
    border: 1px solid #898a8f;
}
.active6{
    color: #f47004;
    border: 1px solid #f47004;
}
.color1{
    color: #6d9bd9;
}
.color2{
    color: #be059d;
}
.color3{
    color: #717532;
}
.color4{
    color: #f33002;
}
.color5{
    color: #898a8f;
}
.color6{
    color: #f47004;
}
@keyframes fontLarger {
    0% {
        font-size: 60px;
    }
    50% {
        font-size: 70px;
    }
    100% {
        font-size: 60px;
    }
}
.answer-show{
    -webkit-animation: fontLarger 0.6s ease;
         -o-animation: fontLarger 0.6s ease;
            animation: fontLarger 0.6s ease;
}